<%- include('../includes/head.ejs') %> 
<%- include('../includes/nav.ejs') %>
    <main class="cart">
        <div style="margin-top: 80px;"></div>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li>
                        <div style="display: flex;">
                            <p><%= p.title %> (<%= p.cartItems.quantity %>)</p>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" value="<%= p._id %>" name="id">
                                <button class="btn" type="submit" style="margin: 9px 0 0 6px;">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <form action="/order-page" method="POST">
                <button type="submit" class="btn" style="margin-left: 3vw;">Order now</button>
            </form>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %> 