<%- include('../includes/head.ejs') %> 
<%- include('../includes/nav.ejs') %>
    <main class="cart">
        <div style="margin-top: 80px;"></div>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <div style="display: flex; justify-content: space-between;">
                            <p><%= p.title %> (x<%= p.quantity %>)</p>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" value="<%= p._id %>" name="id">
                                <button class="btn" type="submit" style="margin: 9px 0 0 6px;">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <form action="/order-page" method="POST">
                    <button type="submit" class="btn">Order now</button>
                </form>
            </div>
        <% } else { %>
            <h1>No Products in Card!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %> 