<%- include('../includes/head.ejs') %> 
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1 style="text-align: center;">My Products</h1>
        <div class="grid">
            <% if(prod.length > 0) { %> 
                <% for(let p of prod) { %> 
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= p.title %> </h1>
                        </header>
                        <div class="card__image">
                            <img src='<%= p.image %> ' alt="Image">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= p.price %></h2>
                        </div>
                        <div class="card__actions">
                            <form action="/cart" method="post">
                                <button class="btn" type="submit">Add to Cart</button>
                                <input type="hidden" name='id' value="<%= p.id %> " />
                            </form>
                        </div>
                    </article>
                <% } %> 
            <% } else { %>
                <h2 style="text-align: center;">No Product!</h2>
            <% } %>  
        </div>
    </main>
<%- include('../includes/end.ejs') %> 