<%- include('../includes/head.ejs') %> 
    <%- include('../includes/nav.ejs') %>
    <main>
        <div style="margin-top: 80px;"></div>
        <% if (prod.length <= 0) { %>
            <h1 style=" margin-top: 80px;">Nothing there!</h1>
        <% } else { %>
            <ul>
                <% prod.forEach(order => { %>
                    <li>
                        <h1># <%= order._id %></h1>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li><%= product.title %> (<%= product.orderItem.quantity %>)</li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %> 