<%- include('../includes/head.ejs') %> 
    <%- include('../includes/nav.ejs') %>
    <main style="text-align: center; margin: 0 auto;">
        <div class="item" style=" margin-top: 80px;">
            <img src="<%= prod.image %>" alt="item" />
            <h2><%= prod.title %></h2>
            <p style="margin: 0;"><%= prod.description %> </p>
            <p>Price: <em><%= prod.price %>$</em></p>
            <form action="/cart" method="post">
                <button class="add-to-cart" type="submit">Add to Card</button>
                <input type="hidden" name='id' value="<%= prod._id %> " />
            </form>
        </div>
    </main>
    <style>
        .item {
            background-color: rgb(238, 201, 100);
            margin: 0 auto;
            width: 300px;
            padding: 10px;
            height: 435px;
            border-radius: 4%;
        }
        .item img {
            display: block;
            margin: auto;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 6px;
            border-radius: 4%;
        }
        h2 {
            font-size: 16px;
            display: block;
            margin: 0 0 10px 0;
            padding: 0 0 5px 0;
        }
        button {
            border: 1px solid #722A1B;
            padding: 4px 14px;
            background-color: #fff;
            color: #722A1B;
            text-transform: uppercase;
            margin: 5px 0;
            font-weight: bold;
            cursor: pointer;
        }
        span {
            float: right;
        }
    </style>
<%- include('../includes/end.ejs') %> 